.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto; /*cetrar*/
    overflow: hidden;
}
header {
    width: 100%;
    background: url('../../assets/img/bg.jpg') #282929;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}
header .contenedor{
    position: relative;
    height: 700px;
}
header .navbar{
    background-color: transparent !important;
}
header .contenedor-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}
header .contenedor-texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
  }
  header .contenedor-texto .profesion{
    font-size: 25px;
    line-height: 25px;
  }

.jumbotron .aboutMe{
    background: #282929;
    padding: 60px 0;
}
.jumbotron .aboutMe h3{
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: left;
}
.jumbotron .aboutMe p{
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: justify;
}

.recentProjects {
    padding: 70px 0;
}

.recentProjects h3 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #000000;
    text-align: left;
}

.futureV{
    margin-bottom: 20px;
}

.futureV .container .row .col .jumbotron h5{
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #030303;
    text-align: left;
}
.futureV .container .row .col .jumbotron ul li{
    font-size: 15px;
    line-height: 27px;
    color: #030303;
    text-align: left;
}
.container-fluid {
    margin-top: 20px;
    display: flex;
    justify-content: center;	
}

.jumbotron .redes{
    background: #282929;
    padding: 60px 0;
    color: #ffffff;
}

.jumbotron .redes .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.jumbotron .redes h3{
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
}
.jumbotron .redes a{
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 0px;
  }