.jumbotron .aboutMe{
    background: #282929;
    padding: 60px 0;
}
.jumbotron .aboutMe h3{
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: left;
}
.jumbotron .aboutMe p{
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: justify;
}

.recentProjects {
    padding: 70px 0;
}

.recentProjects h3 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #000000;
    text-align: left;
}

.futureV .container .row .col .jumbotron h5{
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #030303;
    text-align: left;
}
.futureV .container .row .col .jumbotron ul li{
    font-size: 20px;
    line-height: 27px;
    color: #030303;
    text-align: left;
}